#!/bin/bash

watch_file "pyproject.toml" "pixi.toml" "pixi.lock"

if [[ -t 2 ]]; then
  color="always"
else
  color="auto"
fi
eval "$(pixi --color "$color" shell-hook)"

export LIBLAF_CHERRIES_BACKEND="neptune"
export LIBLAF_CHERRIES_GIT_AUTO_COMMIT=false
export NEPTUNE_DATA_DIRECTORY="$PWD/.neptune"
export NEPTUNE_MONITORING_NAMESPACE="monitoring"
export NEPTUNE_PROJECT="cherries"

NEPTUNE_API_TOKEN="$(rbw get --field "API_TOKEN" "Neptune" || true)"
if [[ -n ${NEPTUNE_API_TOKEN-} ]]; then
  export NEPTUNE_API_TOKEN
else
  unset NEPTUNE_API_TOKEN
fi
